#channel-parent{
    display: flex;
}
#channel {
    /* background-color: rgb(210, 239, 243); */
    width: 15%;
    height: 100%;
    /* display: flex; */
    /* align-items: center; */
}

.list {
    background-color: white;
    border: 1px solid gray;
    width: 80%;
    height: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 5px 10px;
}

.list .list-image {
    background-color: red;
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.list .list-image img {
    background: yellow;
    color: red;
    width: 70%;
    height: 80%;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
}

.list .list-name {
    background-color: white;
    margin-bottom: 2%;
    widows: 100%;
    height: 18%;
    text-align: center;
}

/* ------------------------- */
#inside-channel {
    /* background-color: rgb(245, 242, 206); */
    /* background-color: rgb(245, 242, 206); */
    width: 85%;
    height: 100%;
    /* margin: 20px 0px 20px 50px; */
    display: flex;
    /* border: 1px solid rgb(233, 231, 231); */
}

.categories {
    background-color: rgb(225, 201, 248);
    width: 25%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.categories-list {
    background-color: rgb(241, 238, 245);
    font-size: large;
    max-width: 100%;
    min-height: 60px;
    height: 64vmax !important;
    overflow-y: scroll;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.videos {
    /* background-color: antiquewhite; */
    width: 75%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid lightgray;
    overflow-y: scroll;
}

.videos .main-videos {
    /* background-color: rgb(247, 225, 199); */
    width: 100%;
    height: 300px;
    font-size: large;
    padding: 20px;
    font-weight: bold;
}

.videos .videos-category {
    /* background-color: rgb(201, 235, 223); */
    width: 100%;
    height: 70%;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 20px;
    font-size: large;
    font-weight: bold;
}